Package: dolphin-ptbr-fix
Version: 1.0.0-1big2
Depends: dolphin
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:236
Description: Improve pt-br translation to dolphin

